* { margin: 0; padding: 0; }
body,html{
    height: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#header {
    width: 100%;
    height: 700px;
    background: #acf;
    overflow: hidden;
}
#header h1 {
    text-align: center;
    margin-top: 200px;
}
#header a {
    display: block;
    width: 300px;
    height: 50px;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 50px;
    margin: 20px auto 0;
}

/*고정메뉴*/
#gnb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.7);
}
#gnb ul {

}
#gnb li {
    float: left;
    padding: 0 30px;
    line-height: 50px;
}
#gnb li a {
    color: #000;
    font-size: 20px;
}

#gnb.effect {
    background: rgba(0, 0, 0, 0.7);
}
#gnb.effect li a {
    color: #fff;
}

/*섹션공통*/
section {
    overflow: hidden;
    height: 100%;
    padding: 0 50px;
}
section h2 {
    margin-top: 100px;
}
section h2 p{
    margin: 50px 0;
}